*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    background-color: #000000;
}
.main{
    height: 100vh;
    background: url("sebastian.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: fiter 0.4s ease-in-out;
}
.main.show-quiz-guildlines{
    filter: blur(10px);
    pointer-events: none;
}
.main-describtion{
    max-width: 600px;
    width: 90%;
    padding: 10px;
    text-align: center;
}
.main-describtion h1{
    font-family: "Arial Black";
    font-size: 40px;
    text-shadow: 0 0 20px #000;  
}
.main-describtion h4{
    padding-block: 10px;
    text-shadow: 0 0 20px #000;
    margin-bottom: 10px;
}
.main-describtion .start-quiz-btn{
    width: 190px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #f7f76c;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s;
}
.main-describtion .start-quiz-btn:hover{
    background: transparent;
    color: #f7f76c;
    border: 2px solid #f7f76c;
}
.quiz-guildlines{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 90%;
    background: #fff;
    box-shadow: inset 0 0 10px #000;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
}
.quiz-guildlines.show-quiz-guildlines{
    opacity: 1;
    pointer-events: auto;
}
.quiz-guildlines h2{
    text-align: center;
    margin-bottom: 20px;
}
.quiz-guildlines .quiz-info{
    display: inline-block;
    margin: 5px 0;
}
.btn-group{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
    padding-top: 15px;
}
.quiz-info-btn{
    height: 30px;
    width: 130px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #292930;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.quiz-info-btn:nth-child(1){
    border: 2px solid #292930;
    background: transparent;
    color: #292930;
}
.quiz-info-btn:nth-child(1):hover{
    background: #292930;
    color: #fff;
}
.quiz-info-btn:nth-child(2):hover{
    background: #0f0f17;
    color: #c8c7c7;
}
.quiz-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.quiz-content{
    width: 400px;
    height: fit-content;
    border: 2px solid #ff038e;
    border-radius: 10px;
    padding: 0 20px;
}
.quiz-box{
    text-align: center;
    padding: 20px 0;
}
.quiz-box h2{
    font-family: "Arial Black";
    font-size: 25px;
    background: linear-gradient(45deg, transparent, #ff038e, transparent);
}
.quiz-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #ff038e;
    padding-bottom: 10px;
}
.quiz-header .quiz-timer{
    font-size: 18px;
    font-weight: 800;
}
.question-text{
    padding-block: 10px;
}
.option-list button{
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    text-align: justify;
    background: transparent;
    border: 2px solid #222121;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
.option-list button.selected {
    background: #ff038e;
}
.quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 15px;
    margin-bottom: 10px;
}
.next{
    height: 30px;
    width: 130px;
    border-radius: 8px;
    border: none;
    background: #ff038e;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.2;
}
.next.enabled{
    opacity: 1;
    cursor: pointer;
}

.result-container{
    width: 400px;
    height: fit-content;
    border: 2px solid #ff038e;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: none;
}
.result-container.show{
    display: block;
}
.quiz-content.hide{
    display: none;
}
.result-container p{
    padding-block: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #548154;
}
.result-container button{
    height: 30px;
    width: 130px;
    border-radius: 8px;
    border: none;
    background: #ff038e;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}